%roboto-300 {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

%roboto-400 {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

%roboto-500 {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

$lightGrey: #F2F2F2;
$grey: #8F8F8F;
$black: #101010;
$white: #fefefe;
$blue: #318CE7;
$lightRed: #FFECE7;
$middleRed: #EC9BA9;
$lightBlue: #F1F4FF;
$opacityLightBlue: rgba(241, 244, 255, .6);
$opacityLightGrey: rgba(242, 242, 242, .8);
$opacityGrey: tgba(143, 143, 143, .8);