@import "./_global";

.page {
  min-height: inherit;

  &__inner {
    min-height: inherit;
  }
}

.auth {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;

  &__form {
    width: 700px;
  }

  &__title {
    margin-bottom: 15px;
    @extend %roboto-400;
    text-align: center;
  }

  &__help {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-desc {
      @extend %roboto-300;
      font-size: 15px;
    }

    &-link {
      color: $blue;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__field {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__file {
    display: none;
  }

  &__label {
    width: 100%;
    display: block;
  }

  &__input {
    width: 100%;
    border: none;
    background: $lightGrey;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: color, background, border, .3s;

    &--invalid {
      background: $lightRed;
      color: $middleRed;
      border: 1px solid $middleRed;
    }
  }

  &__textarea {
    resize: vertical;
    min-height: 80px;
  }

  &__select {
    width: 100%;
    height: 45px;
    padding: 10px;
    border: 1px solid $lightGrey;
    cursor: pointer;
    border-radius: 5px;
    transition: border-color .3s;

    &:focus {
      border-color: $blue;
    }
  }

  &__submit-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__submit {
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    background: $black;
    color: $white;
  }
}

.pt-90 {
  padding-top: 90px;
}

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 999;
  padding: 10px 0;
  background: $white;
  border-bottom: 1px solid $lightGrey;

  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__search {
    width: 400px;

    &-input {
      border: none;
      border-radius: 8px;
      background: $lightBlue;
      padding: 8px;
      width: 100%;
    }
  }

  &__block {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__logo {
    margin-right: 15px;
  }

  &__user {
    &-info {
      color: $black;
      display: flex;
      align-items: center;
    }

    &-icon {
      width: 30px;
    }

    &-name {
      @extend %roboto-300;
      margin-left: 5px;
      text-align: center;
      font-size: 14px;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    color: $blue;
    @extend %roboto-300;
    font-size: 25px;
  }
}

.section {
  padding: 15px 0;
  display: flex;
  flex-direction: column;

  &__title {
    @extend %roboto-400;
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;

  &__link {
    padding: 15px;
    background: $lightBlue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow .3s;

    &:hover {
      box-shadow: $opacityLightBlue 0px 8px 24px;
    }
  }

  &__icon {
    width: 40px;
    fill: $black;
  }

  &__title {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    color: $blue;
    @extend %roboto-400;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
}

.product {
  display: flex;
  flex-direction: column;

  &__link {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid $lightBlue;
    display: flex;
    flex-direction: column;
    color: $black;
    margin-bottom: 10px;
  }

  &__images {
    margin-bottom: 10px;

    &-item {
      display: none;

      &--active {
        display: block;
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @extend %roboto-400;
  }

  &__desc {
    line-height: 23px;
    font-size: 15px;
  }

  &__price {
    color: $black;
    padding-left: 5px;
    @extend %roboto-500;
  }

  &__btn {
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    margin: 0 auto;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;

    &-add-to-cart,
    &-edit {
      background: $lightBlue;
      color: $blue;
    }

    &-remove-from-cart {
      color: $middleRed;
      background: $lightRed;
    }
  }

  &__main {
    padding-top: 15px;
  }

  &__footer {
    display: flex;
    flex-direction: column;

    &-block {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-controls {
      display: flex;
      align-items: center;
      justify-content: center;

      &-btn {
        cursor: pointer;
        border: none;
        background-color: $lightGrey;
        color: $black;
        padding: 5px;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        font-size: 17px;
        justify-content: center;
        align-items: center;
      }
    }

    &-value {
      display: inline-block;
      margin: 0 5px;
      @extend %ibarra-real-nova-400;
    }

    &-price {
      @extend %ibarra-real-nova-400;
      margin-top: 5px;
    }
  }
}

.profile {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;

  &__sidebar {
    background: $white;
    position: sticky;
    top: 90px;
    min-width: 400px;
    height: max-content;
    overflow: auto;
    border: 1px solid $lightGrey;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    &-block {
      &:not(:last-child) {
        margin-bottom: 15px;
        border-bottom: 1px solid $lightGrey;
        padding-bottom: 10px;
      }
    }

    &-user {
      &-info {
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      &-avatar-block {
        width: 250px;
        height: 250px;
        margin: 0 auto 10px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }

      &-avatar {
        width: 100%;
      }

      &-name {
        @extend %roboto-400;
        margin-bottom: 4px;
      }

      &-email {
        opacity: .8;
        @extend %roboto-300;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;

      &-item {
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }

      &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        background: $lightGrey;
        color: $grey;
        transition: color, background, .3s;

        &:hover {
          color: $blue;
          background: $lightBlue;
        }

        &--active {
          color: $blue;
          background: $lightBlue;
        }
      }
    }
  }

  &__main {
    width: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
  }

  &__tab {
    display: flex;
    flex-direction: column;

    &-title {
      @extend %roboto-400;
      margin-bottom: 15px;
    }
  }

  &__products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }

  &__cart {
    &-total-price {
      position: sticky;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 10px;
      background: $white;
      color: $blue;
      border: 1px solid $lightGrey;
      margin-top: 10px;

      &-title {
        @extend %roboto-400;
      }

      &-val {
        @extend %ibarra-real-nova-400;
      }
    }
  }
}

.create {
  &__form {
    width: 600px;
    margin: 0 auto;
  }
}

.block-load-files {
  cursor: pointer;

  &__area {
    width: 100%;
    border: 1px solid $lightGrey;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--active {
      border-style: dashed;
      border-color: $blue;
      background: $lightBlue;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
    margin-top: 5px;

    &-item {
      position: relative;
    }

    &-image {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &-remove {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 15px;
      height: 15px;
      cursor: pointer;
      border-radius: 50%;
      border: none;
      background: $opacityGrey;
      display: flex;
      justify-content: center;
      align-items: center;

      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 1px;
        background: $black;
      }

      &::after {
        transform: rotateZ(45deg);
      }

      &::before {
        transform: rotateZ(-45deg);
      }
    }
  }

  &__icon {
    width: 68px;
    fill: $blue;
  }
}